<div class="container">
  <p>
    Hello joaolbaptista
  </p>
  <div *ngIf="shareholder">
    <div *ngFor="let sh of shareholder">
      <div class="row">
        <div class="col-md-6 col-lg-6 col-xl-6">
          <input class="form-control" type="text" [(ngModel)]="sh.name" placeholder="Nome completo">
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
          <input class="form-control" type="text" [(ngModel)]="sh.percentage" placeholder="Percentagem Detida">
        </div>
      </div>
    </div>
    <div class="row" *ngIf="typeOfShareHolder">
      <div class="col-md-6 col-lg-6 col-xl-6">
        <select class="form-control" type="text">
          <option *ngFor="let type of typeOfShareHolder" [value]="type.text">
            {{type.text}}
          </option>
        </select>
        <label class="label-input" for="tipo">Tipo de acicionista</label>
      </div>
      <div class="col-md-6 col-lg-6 col-xl-6">
        <select class="form-control">
          <option *ngFor="let countryName of country">
            {{countryName.text}}
          </option>
        </select>
        <label class="label-input">Nacionalidade</label>
      </div>
    </div>
  </div>
</div>
